<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ie.aib" android:versionCode="4" android:versionName="1.3">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application android:icon="@drawable/aiblogosmall" android:label="@string/app_name">

		<activity android:name=".Login1" android:label="AIB Online Banking">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Login2" android:label="@string/app_name"/>
		<activity android:name="AccountActivity" android:label="@string/app_name"/>
		<activity android:name="StatementActivity" android:label="@string/app_name"/>
		<activity android:name="PayeesActivity" android:label="@string/app_name"/>
		<activity android:name="PaymentlogActivity" android:label="@string/app_name"/>
		<activity android:name="StandingordersActivity" android:label="@string/app_name"/>
		<activity android:name="MakePaymentActivity" android:label="@string/app_name"/>
		
	</application>
</manifest>